body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
  background: #ffe6ab;
}
.hide {
  display: none;
}
#result {
  margin-top: 2em;
  background: #EF476F;
  border-radius: 10px;
  padding: 2rem;
  color: #fff;
}
button {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background: #06D6A0;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: inherit;
}
